# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
/local.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Logs
*.log

# Generated
captures/
.externalNativeBuild/
.cxx/
app/release/
app/debug/

# Keystore (si usas)
*.keystore
*.jks
*.keystore.jks
